<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onliigo</title>
</head>
<body>
    <div style="display: flex;justify-content: center;">
        <img src="https://funcontes.org/imgs/onliigo.png" alt="" style="width: 200px;height: 200px;border-radius: 50%;">

        <p>Hola, </p>
        <p style="text-align: justify;">Has sido verificado por el administrador, en este momento los usuarios que vean tus servicios tendrán más confianza y 
            fiabilidad en la prestación de tus servicios </p>
        
        <p>
            Atentamente,
            OnliiGo (onliigo2020@gmail.com)
        </p>
    </div>
</body>
</html>